body {
    background-color: var(--color-grey-1);
    font-family: var(--default-font);
}

header {
    padding: 2.063rem 0 2.313rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.313rem;
}

.nav__container{
    display: flex;
    flex-direction: row;
    gap: 0.75rem;
    width: 70vw;
    justify-content: center;
}

.nav__container > input {
    background-color: var(--color-grey-2);
    padding: 1rem;
    border: 0;
    border-radius: 8px;
    color: var(--color-grey-3);
    font-size: 1rem;
    width: 60%;
}

.nav__container > input:focus {
    outline: 2px solid var(--color-grey-3);
}

.nav__container > button {
    background-color: var(--color-blue-1);
    border: 0;
    padding: 0.969rem  1.688rem;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.5s ease-in-out;

}

.nav__container > button:hover {
    background-color: #4c6ef5e7;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
}

h1#mainTitle {
    color: var(--color-grey-6);
    font-size: 1.5rem;
    font-weight: 500;
    padding-bottom: 4.625rem;

}

p#loading {
    color: var(--color-grey-4);
    font-size: 1.25rem;
    margin-top: 11.375rem;
}

p.hidden {
    display: none;
}

.pokemonsList__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pokemonsList__container > li {
    background-color: var(--color-grey-2);
    margin: 0 1.25rem 1.75rem;
    color: var(--color-grey-5);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 8px;
    gap: .75rem;
    text-transform: capitalize;
    width: 80%;
    min-width: 300px;
}

@media (min-width: 992px) {
    
    header {
        flex-direction: row;
        max-width: 800px;
        margin: 0 auto;
        padding-top: 4rem;
        transition: 0.5s ease-in-out;

    }

    .nav__container {
        justify-content: flex-end;
        transition: 0.5s ease-in-out;

    }

    main {
        margin: 5.75rem auto 0;
        transition: 0.5s ease-in-out;

    }

    h1#mainTitle {

    }

    .pokemonsList__container > li {
        width: 100%;
        transition: 0.5s ease-in-out;

    }
}


